{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "airbnb-base",
  "globals": {
    "CKEDITOR": "readable",
    "thebelab": "readable",
  },
  "rules": {
    "new-cap": [
      "error",
      "newIsCapExceptions": [
        "CKEDITOR.dialogCommand",
      ],
    ],
  },
}