// force overwirte css settings from MindTouch
.cke_button_icon.cke_button__enablebinder_icon {
  background-image: url(https://binderhub.readthedocs.io/en/latest/_static/favicon.png?t=JB9B) !important;
  background-position: 0 0px !important;
  background-size: 16px !important;
}

.columbia-skin-elm {
  .cke_dialog {
    .cke_dialog_contents {
      tbody {
        tr {
          td.cke_dialog_contents_body {
            display: block;
            overflow: auto;
            width: 100% !important;
            max-height: 60vh;

            .thebelab-cell {
              max-width: 55vw;

              .jp-OutputArea-output {
                overflow-x: scroll;
              }
            }
          }
        }
      }
    }
  }
}

.thebelab-widget {
  pre.no-code {
    display: none;
  }
}

.fa {
  font-family: FontAwesome !important;
}

.mt-editor-dialog-binderDialog .mt-label:after, .mt-editor-dialog-binderDialog label:after {
  content: '';
}

