// force overwirte css settings from MindTouch
.cke_button_icon.cke_button__enablebinder_icon {
  background-image: url(https://binderhub.readthedocs.io/en/latest/_static/favicon.png?t=JB9B) !important;
  background-position: 0 0px !important;
  background-size: 16px !important;
}
